
.pokeCard{
    position: relative;
    flex: 1;
    height: 560px;
    background-color: #f0f0f0;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 10px;
}



.pokeHeader{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 280px;
    width: 100%;
    margin-bottom: 6px;
}
    .pokeHeader div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin-bottom: 8px;
    }

    .pokeHeader img{
        position: absolute;
        top: 60%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        width: 240px;
        max-height: 240px;
        image-rendering: pixelated;
        overflow: hidden;
    }

    .pokeHeader span{
        font-size: 1.4em;
        font-weight: bold;
        text-align: center;
    }
    .pokeHeader h1{
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
    }

.pokeNav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-bottom: 2px solid #ccc;
  z-index: 2;
}

    .pokeNav input[type="radio"] {
    display: none;
    }

    .pokeNav label {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #f3f3f3;
    cursor: pointer;
    font-weight: bold;
    color: #444;
    border: 1px solid transparent;
    }


    .pokeNav input[type="radio"]:checked + label {
    background-color: rgb(234, 45, 45);
    color: #ffffff;
    border-color: #000000;
    border-bottom: 2px solid white;
    }


    .pokeNav input[type="radio"]#profile:checked + label[for="profile"],
    .pokeNav input[type="radio"]#stats:checked + label[for="stats"],
    .pokeNav input[type="radio"]#moves:checked + label[for="moves"] {
    background-color: rgb(234, 45, 45);
    color: #ffffff;
    border-color: #212121;
    border-bottom: 2px solid rgb(199, 199, 199);
    }

.pokeProfile {
    padding: 20px;
    width: auto; 
    height: auto; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;  
}

    .pokeType {
        display: flex; 
        gap: 10px; 
        
    }
        .pokeType p {
            padding: 10px 14px;
            border-radius: 6px;
            font-weight: bold;
            font-size: 0.9em;
        }
    .pokeAbility{
        display: flex; 
        align-items: center;
        gap: 10px
    }

    .pokeInfo {
        display: flex; 

        gap: 10px;
    }
    .pokeInfo p {
        margin: 5px 0; 
    }

.pokeStats{
    display: none;
    width: 100%;
    height: 100%;
}
    .pokeStats h3{
        text-align: center;
        
    }
    .pokeStats ul{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));;
        gap: 16px 32px; 
        list-style: none;
        padding: 0;
        margin: 4px;
    }
    .pokeStats li{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        font-size: 1em;
        color: #000000;
    }
        .pokeStats li span {
            font-size: 1.1em;
            font-weight: bold;
        }
    

.pokeMoves{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-block: 12px;
    overflow-y: auto;
}
    .pokeMoves h3{
        text-align: center;
    }
    .pokeMoves ul{
        display: grid;
        grid-auto-flow: row; 
        grid-auto-rows: min-content; 
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); 
        gap: 10px;
        padding: 12px;
        margin: 0;
        list-style: none;
    }
        .pokeMoves  li {
            background: #f0f0f0;
            padding: 10px;
            border: 1px solid #ccc;
            text-align: center;
            border-radius: 6px;
        }
        .pokeMoves  li:hover {
            background: #d8d8d8;
            cursor: pointer;
        }

